{{#link-to "index" tabindex="1"}}Humans.{{/link-to}}
<div>
  {{#if session.unauthenticated}}
    <span onclick={{action "authenticate"}} tabindex="2">Manage existing profile</span>
  {{else}}
    {{#link-to "human" session.human.blockstackName tabindex="2"}}View public profile{{/link-to}}
    {{#link-to "customize-url" tabindex="3"}}Customize URL{{/link-to}}
    <span {{action "deauthenticate"}} tabindex="4">Sign out</span>
  {{/if}}
</div>
