<div class="images">
  <img class="laptop-preview" src="/images/laptop-preview.png" />
  <img class="mobile-preview" src="/images/mobile-preview.png" />
</div>
<div class="content">
  <h1>Start publishing independently within minutes</h1>
  <p>No tech company should control your identity or ideas, leaving you vulnerable to censorship and data loss over the long-run.</p>
  <p>Humans empowers you to publish online while maintaining full control over your content, now and forever.</p>
  <button {{action "authenticate"}}>Get started</button>
</div>