<div class="images">
  <img class="laptop-preview" src="/images/laptop-preview.png" />
  <img class="mobile-preview" src="/images/mobile-preview.png" />
</div>
<div class="content">
  <h1>Create an independent profile on the web within minutes</h1>
  <p>Let's admit it: profiles on Facebook, LinkedIn etc. are <em>ugly</em>. And no company should control your identity or personal content online.</p>
  <p>With Humans, you'll put your best face forward while maintaining full control over your profile, now and forever.</p>
  {{#link-to "create-profile"}}Create your profile{{/link-to}}
</div>