<div class="title">Humans.</div>
<a title="View on GitHub" href="https://github.com/markmhx/humans"><i class="fab fa-github"></i></a>
<span title="Sign in" onclick={{action "authenticate"}}><i class="fas fa-sign-in-alt"></i></span>