<div class="center">
  <h1>Humans</h1>
  <div class="subheader">Not Gods, nor animals, nor machines</div>
  <button {{action "authenticate"}}>Authenticate your identity with Blockstack</button>
</div>
