<div class="content">
  <h1>Get started with Blockstack</h1>
  <p>Humans uses Blockstack to ensure that you own your identity and data completely upon creating your new profile.</p>
  <p>Never heard of Blockstack? Don't worry – it's easy! Simply register for a new "Blockstack ID" and you'll be ready to start creating on Humans.</p>
  <button {{action "authenticate"}}>Get started with Blockstack</button>
</div>
<div class="images">
  <img src="/images/blockstack-preview1.png" />
  <img src="/images/blockstack-preview2.png" />
</div>