<div>
  {{editable-view editable=editable tagName="h1" model=human placeholder="Name" spellcheck=false value=human.name}}
  {{editable-view class="subheader" editable=editable model=human placeholder="Description" spellcheck=false value=human.description}}
</div>
{{editable-image deleteConfirmation="Are you sure you want to delete your cover photo?" editable=editable model=human uploadLabel="Upload cover photo" url=human.coverImageUrl}}