<div>
  {{editable-view editable=editable tagName="h1" model=human name="full-name" placeholder="Name" spellcheck=false value=human.name}}
  {{editable-view class="subheader" editable=editable model=human name="description" placeholder="Description" spellcheck=false value=human.description}}
</div>
{{editable-image url=human.coverImageUrl editable=editable}}