<div>
  <h2>Customize your profile URL</h2>
  <p>It appears as though your Blockstack ID doesn't have an associated name yet. We'll need a name for your ID to publish your profile publicly and customize its URL.</p>
  <p>Please visit the Blockstack Browser as either <a href="https://browser.blockstack.org/">hosted online</a> or <a href="http://localhost:8888/">downloaded to your computer</a> to configure a name for your ID.</p>
  <p>If you've already configured a name, please wait until its been fully registered, which should take no more than an hour or two maximum. Then return to this page and refresh.</p>
  <p>Your profile will become public automatically upon configuration of a name.</p>
</div>