<h2>Start creating!</h2>
<p>Fill out your new public profile, saving your changes with the "<i class="fas fa-save"></i>" icon that appears.</p>
<p>Select "<i class="far fa-eye"></i>" to view your profile exactly as it appears to others, then share your URL with friends:</p>
<p>{{profileUrl}}</p>
<button {{action "dismiss"}}>Ok</button>