<h2>Start creating!</h2>
<p>Fill out your profile here and changes will be saved automatically to your new public profile.</p>
<p>Select "<i class="far fa-eye"></i>" in the navigation above to view your profile as it appears to others and share the URL with friends.</p>
<button {{action "dismiss"}}>Ok</button>