<div class="content">
  <h2>Set your profile photo</h2>
  <p>This photo will appear at the top of pages across your profile.</p>
  <p>Leave it blank to display a "Home" icon there instead.</p>
</div>

{{editable-image deleteConfirmation="Are you sure you want to delete your photo?" editable=editable model=human uploadLabel="Upload photo" url=human.imageUrl small=true}}