<section class="register-blockstack-name">
  <div>
    <h2>Register Blockstack username</h2>
    <p>You need to register a username for your Blockstack ID to create your profile on Humans, since the username will be used to create its URL.</p>
    <p>Please visit the Blockstack Browser as either <a href="https://browser.blockstack.org/profiles">hosted online</a> or <a href="http://localhost:8888/profiles">downloaded to your computer</a> to configure a username for your ID.</p>
  </div>
</section>