{{#if session.human.isSaving}}
  <div>
    <i class="fas fa-check fa-spinner"></i>
    <span>Publishing...</span>
  </div>
{{else if session.human.hasDirtyAttributes}}
  <div class="option" {{action "saveChanges"}} title="Publish changes">
    <i class="fas fa-save"></i>
    <span>Publish changes</span>
  </div>
{{else}}
  <div>
    <i class="fas fa-check"></i>
    <span>Published!</span>
  </div>
{{/if}}