nav.app {
  border-bottom: 1px solid @border-color;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  left: 0;
  padding: 1em;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;

  >span {
    font-family: "Libre Baskerville", serif;
  }

  div {
    margin-left: auto;

    a, span {
      .standard-link;
      .standard-font-family;

      &:not(:last-child) {
        margin-right: 2em;
      }

      &:not(:first-child) {
        color: rgba(0,0,0,0.5);

        &:hover {
          color: @standard-color-link;
        }
      }
    }
  }
}
