nav.app {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: fadeIn;
  background: white;
  border-color: @border-color;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: flex-end;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;

  @media (max-width: 900px) {
    border-bottom: none;
    border-top-width: 1px;
    bottom: 0;
    justify-content: space-evenly;
    top: auto;
  }

  &.hidden {
    display: none;
  }

  div {
    display: none;
    font-family: "Libre Baskerville", serif;
    margin-right: auto;
    padding: 1em;

    @media (min-width: 900px) {
      display: inline-block;
    }
  }

  >a {
    .standard-highlight;
    font-family: "Libre Baskerville", serif;
    outline: none;

    @media (hover: hover) {
      &:hover {
        .standard-highlight-hover;
      }
    }
  }

  a, span {
    .standard-link;
    .standard-font-family;
    color: black;
    box-sizing: border-box;
    display: inline-block;
    padding: 1em;
    width: 100%;

    @media (min-width: 900px) {
      padding: 1em 1.5em;
      width: unset;
    }

    @media (hover: hover) {
      &:active, &:focus, &:hover {
        &:before {
          transform: scaleX(0);
        }
      }
    }

    &.active {
      .standard-highlight-hover;
      cursor: default;
    }
  }
}

@media (max-width: 899px) {
  nav.app:not(.hidden) ~ section:last-of-type {
    margin-bottom: 55px;
  }
}

@media (min-width: 900px) {
  nav.app:not(.hidden) ~ section:first-of-type {
    margin-top: 55px;
  }
}

nav.app:not(.hidden) ~ section.hero {
  min-height: ~"calc(100vh - 55px)";
}
