@keyframes contentAppear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes laptopAppearNarrow {
  from {
    opacity: 0;
    transform: translateX(-100%) translateY(0);
  }

  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes mobileAppearNarrow {
  from {
    opacity: 0;
    transform: translateX(25%) translateY(65%);
  }

  to {
    opacity: 1;
    transform: translateX(25%) translateY(45%);
  }
}

@keyframes laptopAppearWide {
  from {
    opacity: 0;
    transform: translateX(-100%) translateY(-50%);
  }

  to {
    opacity: 1;
    transform: translateX(0) translateY(-50%);
  }
}

@keyframes mobileAppearWide {
  from {
    opacity: 0;
    transform: translateX(220%) translateY(-20%);
  }

  to {
    opacity: 1;
    transform: translateX(220%) translateY(-30%);
  }
}

section.app-intro {
  .standard-hero;

  div.content {
    animation-delay: 0.75s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: contentAppear;
    padding: 2em;
    opacity: 0;

    @media (min-width: 900px) {
      padding: 0;
    }
  }

  div.images {
    height: 24vh;

    @media (min-width: 900px) {
      height: auto;
    }

    img {
      position: absolute;
      left: 50%;
      top: 0;
      max-width: 100%;

      @media (min-width: 900px) {
        left: 0;
        transform: translateY(-50%);
        top: 50%;
      }

      &.laptop-preview {
        animation-duration: 0.75s;
        animation-fill-mode: forwards;
        animation-name: laptopAppearNarrow;
        height: 100%;

        @media (min-width: 900px) {
          animation-name: laptopAppearWide;
          height: auto;
        }
      }

      &.mobile-preview {
        animation-delay: 0.75s;
        animation-duration: 0.75s;
        animation-fill-mode: forwards;
        animation-name: mobileAppearNarrow;
        height: 75%;
        opacity: 0;

        @media (min-width: 900px) {
          animation-name: mobileAppearWide;
          height: auto;
          width: 25%;
        }
      }
    }
  }
}
