nav.app {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: fadeIn;
  background: white;
  border-bottom: 1px solid @border-color;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  left: 0;
  padding: 1em;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;

  >a {
    .standard-highlight;
    font-family: "Libre Baskerville", serif;
    outline: none;

    &:focus {
      .standard-highlight-hover;
    }

    @media (hover: hover) {
      &:active, &:focus, &:hover {
        .standard-highlight-hover;
      }
    }
  }

  div {
    margin-left: auto;

    a, span {
      .standard-link;
      .standard-font-family;
      color: black;

      &:hover {
        color: @standard-color-link;
      }

      &:not(:last-child) {
        margin-right: 2em;
      }
    }
  }
}

nav.app ~ section.hero {
  min-height: ~"calc(100vh - 8em)";
}
