@keyframes laptopAppearNarrow {
  from {
    opacity: 0;
    transform: translateX(-100%) translateY(0);
  }

  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes mobileAppearNarrow {
  from {
    opacity: 0;
    transform: translateX(25%) translateY(65%);
  }

  to {
    opacity: 1;
    transform: translateX(25%) translateY(45%);
  }
}

@keyframes laptopAppearWide {
  from {
    opacity: 0;
    transform: translateX(-100%) translateY(-50%);
  }

  to {
    opacity: 1;
    transform: translateX(0) translateY(-50%);
  }
}

@keyframes mobileAppearWide {
  from {
    opacity: 0;
    transform: translateX(220%) translateY(-20%);
  }

  to {
    opacity: 1;
    transform: translateX(220%) translateY(-30%);
  }
}

section.app-intro {
  .standard-hero;

  img.laptop-preview {
    height: 100%;
    opacity: 0;
    transform: translateX(-100%) translateY(0);
    z-index: 10;

    @media (min-width: 900px) {
      height: auto;
      transform: translateX(-100%) translateY(-50%);
    }
  }

  img.mobile-preview {
    animation-delay: 0.75s;
    height: 75%;
    opacity: 0;
    transform: translateX(25%) translateY(65%);
    z-index: 11;

    @media (min-width: 900px) {
      height: auto;
      transform: translateX(220%) translateY(-20%);
      width: 25%;
    }
  }

  &.show-images {
    img.laptop-preview {
      animation-name: laptopAppearNarrow;

      @media (min-width: 900px) {
        animation-name: laptopAppearWide;
      }
    }

    img.mobile-preview {
      animation-name: mobileAppearNarrow;

      @media (min-width: 900px) {
        animation-name: mobileAppearWide;
      }
    }
  }
}
