@keyframes blockstackIdAppearNarrow {
  from {
    opacity: 0;
    transform: translateX(-65%) translateY(-25%);
  }

  to {
    opacity: 1;
    transform: translateX(-65%) translateY(0);
  }
}

@keyframes blockstackNameAppearNarrow {
  from {
    opacity: 0;
    transform: translateX(-30%) translateY(80%);
  }

  to {
    opacity: 1;
    transform: translateX(-30%) translateY(60%);
  }
}

@keyframes blockstackIdAppearWide {
  from {
    opacity: 0;
    transform: translateX(0) translateY(-70%);
  }

  to {
    opacity: 1;
    transform: translateX(0) translateY(-60%);
  }
}

@keyframes blockstackNameAppearWide {
  from {
    opacity: 0;
    transform: translateX(30%) translateY(-20%);
  }

  to {
    opacity: 1;
    transform: translateX(30%) translateY(-30%);
  }
}

section.blockstack-intro {
  .standard-hero;

  div.content {
    order: 1;
  }

  div.images {
    order: 2;

    img.create-blockstack-id {
      animation-name: blockstackIdAppearNarrow;
      height: 100%;
      opacity: 0;
      transform: translateX(-65%) translateY(-25%);
      z-index: 10;

      @media (min-width: 900px) {
        animation-name: blockstackIdAppearWide;
        height: auto;
        transform: translateX(0) translateY(-70%);
        max-width: 450px;
      }
    }

    img.create-blockstack-name {
      animation-delay: 0.75s;
      animation-name: blockstackNameAppearNarrow;
      height: 70%;
      opacity: 0;
      transform: translateX(-30%) translateY(80%);
      z-index: 11;

      @media (min-width: 900px) {
        animation-name: blockstackNameAppearWide;
        height: auto;
        transform: translateX(30%) translateY(-20%);
        max-width: 371px;
      }
    }
  }
}
