section.cover {
  .standard-fadein;
  flex-wrap: wrap;

  &:not(.has-overview):not(.editable) {
    .standard-hero;

    >div {
      max-width: unset;
      width: 100%;
    }
  }

  h1 {
    .standard-h1;
  }

  div.subheader {
    .standard-subheader;
  }

  h1, div.subheader {
    .standard-selection;
    outline: none;

    &[contenteditable]:empty:before {
      .standard-placeholder;
      content: attr(placeholder);
      display: block;
    }
  }

  div.editable-image {
    margin-top: 4em;
    padding-bottom: 56.25%;
  }
}

section.cover + section {
  border-top: none;
  padding-top: 0;
}
