section.cover {
  .standard-hero;
  .standard-fadein;
  flex-wrap: wrap;

  >div {
    max-width: unset;
    padding: 1em;
    width: 100%;
  }

  h1 {
    .standard-h1;
  }

  div.subheader {
    .standard-subheader;
  }

  h1, div.subheader {
    .standard-selection;
    outline: none;

    &[contenteditable=true]:empty:before {
      .standard-placeholder;
      content: attr(placeholder);
      display: block;
    }
  }

  div.editable-image {
    margin-top: 2em;
    padding-bottom: 56.25%;
  }
}
