section.cover {
  .standard-hero;
  .standard-fadein;

  >div {
    width: 100%;
  }

  h1 {
    .standard-h1;
    font-family: "Libre Baskerville", serif;

    @media (max-width: 65em) {
      padding: 0 16px;
    }
  }

  div.subheader {
    .standard-subheader;
  }

  h1, div.subheader {
    .standard-selection;
    outline: none;

    &[contenteditable=true]:empty:before {
      .standard-placeholder;
      content: attr(placeholder);
      display: block;
    }
  }

  img {
    display: none;
    max-height: 850px;
    margin: auto;
    margin-top: -1px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 100%;
    z-index: 1;

    @media (max-width: 65em) {
      margin-top: 48px;
    }

    @media (min-width: 1600px) {
      height: 850px;
      width: 1400px;
    }
  }

  &.hasImage img {
    display: block;
  }

  @media (max-width: 69.9em) {
    &.hasNoImage img {
      display: block;
    }
  }

  nav {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-top: 1px solid rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    margin-top: 56px;
    overflow: hidden;

    @media (max-width: 65em) {
      display: none;
    }

    a {
      .standard-link;
      .standard-font-family;
      color: black;
      font-size: 14px;
      letter-spacing: 1px;
      padding: 32px;
      text-transform: uppercase;
      transition: color 0.25s, transform 0.25s;
    }
  }
}
