section.customize-url-unavailable {
  margin: auto;
  max-width: 50em;
  text-align: left;

  @media (max-width: 899px) {
    padding: 2em 1em;
  }

  p {
    font-size: 1em;
  }

  a {
    .standard-link;
  }
}
