section.customize-url-section {
  padding: 4em;
  text-align: left;

  a {
    .standard-link;
  }

  code {
    background: rgba(0,0,0,0.03);
    border-radius: 0.25em;
    padding: 0.25em 0.75em;
  }

  h1 {
    margin-bottom: 1.5em;
  }

  pre {
    font-size: 1.25em;
  }

  table {
    .standard-selection;
    background: rgba(0,0,0,0.1);
    border-spacing: 1px;
    font-size: 1.25em;
    margin: 2.5em 0;
    width: 100%;

    th, td {
      background: white;
      padding: 0.5em 1em;
    }
  }

  ul {
    margin: 2em 4em 3em 2em;

    li {
      .standard-paragraph;
      font-size: inherit;
      list-style: square;
      margin-top: 2em;
    }
  }
}
