section.human-image {
  margin: auto;
  max-width: 50em;

  @media (max-width: 899px) {
    padding-left: 1em;
    padding-right: 1em;
  }

  @media (min-width: 900px) {
    p:first-of-type {
      margin-top: 3em;
    }
  }

  div.editable-image {
    border-radius: 50%;
    margin: auto;
    margin-top: 4em;
    padding-bottom: 10em;
    width: 10em;

    img {
      opacity: 1;
    }
  }
}
