div.store-indicator {
  background: white;
  bottom: 0;
  padding: 1em;
  position: fixed;
  left: 0;
  z-index: 100;
  text-align: center;
  transform: translateY(100%);
  transition: transform 0.25s;
  width: 100%;

  &.shown {
    transform: translateY(0%);
  }
}
