@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(https://fonts.gstatic.com/s/ubuntumono/v7/KFOjCneDtsqEr0keqCMhbCc6CsE.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(https://fonts.gstatic.com/s/librebaskerville/v5/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxY.ttf) format('truetype');
}
@keyframes contentAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.subheader {
  color: rgba(0, 0, 0, 0.8);
  font-size: 24px;
  line-height: 1.5em;
  margin-top: 24px;
}
@media (max-width: 65em) {
  .subheader {
    font-size: 20px;
    margin: 16px 32px;
    margin-bottom: 0;
  }
}
a {
  color: inherit;
  text-decoration: none;
}
blockquote {
  cursor: text;
  user-select: text;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  font-style: italic;
  margin: 2em 0;
  padding: 1em;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}
blockquote::selection,
blockquote *::selection {
  background: rgba(22, 104, 185, 0.25);
}
blockquote:first-child {
  margin-top: 0;
}
@media (min-width: 40em) {
  blockquote {
    background: rgba(0, 0, 0, 0.02);
    border: none;
    margin: 2em 0 3em 0;
    padding: 2em;
  }
}
blockquote p {
  text-align: left;
}
blockquote p:last-child {
  margin-bottom: 0;
}
body {
  font-family: "Avenir Light", Avenir-Light, "Raleway", sans-serif;
  font-weight: 100;
  backface-visibility: hidden;
  background: #ffffff;
  color: #000000;
  text-align: center;
  margin: 0;
  min-width: 320px;
  cursor: default;
  overscroll-behavior: none;
  text-rendering: geometricPrecision;
  -webkit-tap-highlight-color: transparent;
}
body::selection,
body *::selection {
  background: none;
}
button {
  font-family: "Avenir Light", Avenir-Light, "Raleway", sans-serif;
  font-weight: 100;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2em;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 1em 4em 1em 4em;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: color 0.25s, border 0.25s, transform 0.25s, background 0.25s;
  width: calc(100% - 64px);
}
button:focus {
  outline: none;
  border-color: #0149ff;
  color: #0149ff !important;
  transform: scale(1.05);
}
@media (min-width: 40em) {
  button {
    font-size: 1em;
    width: auto;
  }
}
@media (hover: hover) {
  button:hover {
    border-color: #0149ff;
    color: #0149ff !important;
    transform: scale(1.05);
  }
}
div {
  box-sizing: border-box;
  position: relative;
}
h1 {
  cursor: text;
  user-select: text;
  box-sizing: border-box;
  font-family: "Libre Baskerville", serif;
  font-size: 1.6em;
  font-weight: normal;
  line-height: 1.5em;
  margin: auto;
  margin-bottom: 1em;
  padding: 0;
}
h1::selection,
h1 *::selection {
  background: rgba(22, 104, 185, 0.25);
}
@media (min-width: 900px) {
  h1 {
    font-size: 2em;
  }
}
h2 {
  font-family: "Libre Baskerville", serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.75);
  font-size: 26px;
  line-height: 1.2em;
  margin: 0 32px;
}
@media (min-width: 40em) {
  h2 {
    font-size: 2em;
  }
}
h3 {
  font-family: "Avenir Medium", Avenir-Medium, "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 1.2em;
  margin: 48px 0 0 0;
}
h4 {
  font-family: "Avenir Medium", Avenir-Medium, "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  line-height: 1.2em;
  margin: 0;
}
h5 {
  font-family: "Avenir Light", Avenir-Light, "Raleway", sans-serif;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.25);
  font-size: 1em;
  letter-spacing: 1px;
  line-height: 1.2em;
  margin: 0;
  text-transform: uppercase;
}
header {
  font-family: "Avenir Light", Avenir-Light, "Raleway", sans-serif;
  font-weight: 100;
  color: #79828B;
  text-transform: uppercase;
}
p {
  cursor: text;
  user-select: text;
  font-family: "Avenir Light", Avenir-Light, "Raleway", sans-serif;
  font-weight: 100;
  font-size: 1em;
  letter-spacing: 0.5px;
  line-height: 1.5em;
  margin: 0;
  margin-top: 1em;
}
p::selection,
p *::selection {
  background: rgba(22, 104, 185, 0.25);
}
p:last-of-type {
  margin-bottom: 0;
}
p.placeholder {
  background: rgba(0, 0, 0, 0.1);
  height: 1em;
  position: relative;
}
p.placeholder:nth-of-type(3) {
  margin-top: 2em;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
ul,
ol,
li {
  box-sizing: border-box;
  line-height: 1em;
  list-style: none;
  margin: 0;
  padding: 0;
}
section {
  overflow: auto;
  padding: 64px 0;
  position: relative;
}
@media (min-width: 50em) {
  section {
    padding: 96px;
  }
}
section:not(:first-of-type) {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
section.empty {
  display: none !important;
}
section.hero {
  align-items: center;
  box-sizing: border-box;
  display: block;
  justify-content: center;
  min-height: 100vh;
  padding: 0;
}
@media (min-width: 900px) {
  section.hero {
    display: flex;
    padding: 2em;
  }
}
@media (min-width: 1100px) and (min-height: 750px) {
  section.hero {
    padding: 4em;
  }
}
section.hero > div {
  box-sizing: border-box;
  max-width: 600px;
  margin: 2em auto;
  position: relative;
}
@media (min-width: 900px) {
  section.hero > div {
    margin: 2em;
    width: 50%;
  }
}
section.hero > div.content {
  animation-delay: 0.75s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: contentAppear;
  padding: 2em;
  opacity: 0;
  text-align: left;
}
@media (min-width: 900px) {
  section.hero > div.content {
    padding: 0;
  }
}
section.hero > div.images {
  height: 25vh;
}
@media (min-width: 900px) {
  section.hero > div.images {
    height: auto;
  }
}
section.hero > div.images img {
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  left: 50%;
  max-width: 100%;
  position: absolute;
  top: 0;
}
@media (min-width: 900px) {
  section.hero > div.images img {
    left: 0;
  }
}
section.hero > div p {
  font-size: 18px;
}
@media (min-width: 900px) {
  section.hero > div p {
    font-size: 22px;
  }
}
section.hero > div > a,
section.hero > div button {
  font-family: "Avenir Light", Avenir-Light, "Raleway", sans-serif;
  font-weight: 100;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2em;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 1em 4em 1em 4em;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: color 0.25s, border 0.25s, transform 0.25s, background 0.25s;
  width: calc(100% - 64px);
  border-color: #0149ff;
  color: #0149ff;
  margin-top: 3em;
  width: 100%;
}
section.hero > div > a:focus,
section.hero > div button:focus {
  outline: none;
  border-color: #0149ff;
  color: #0149ff !important;
  transform: scale(1.05);
}
@media (min-width: 40em) {
  section.hero > div > a,
  section.hero > div button {
    font-size: 1em;
    width: auto;
  }
}
@media (hover: hover) {
  section.hero > div > a:hover,
  section.hero > div button:hover {
    border-color: #0149ff;
    color: #0149ff !important;
    transform: scale(1.05);
  }
}
@media (min-width: 900px) {
  section.hero > div > a,
  section.hero > div button {
    width: auto;
  }
}
small {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.875em;
}
code {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 100;
  box-sizing: border-box;
  width: 100%;
}
pre {
  cursor: text;
  user-select: text;
  font-family: "Avenir Light", Avenir-Light, "Raleway", sans-serif;
  font-weight: 100;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font-size: 1em;
  letter-spacing: inherit;
  margin: 32px 0;
  padding: 16px 0;
  overflow: auto;
  text-align: center;
  width: 100%;
}
pre::selection,
pre *::selection {
  background: rgba(22, 104, 185, 0.25);
}
@media (min-width: 900px) {
  pre {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px;
  }
}
input,
textarea {
  cursor: text;
  user-select: text;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  font-size: 18px;
  margin-top: 32px;
  outline: none;
  padding: 32px;
  resize: none;
  width: 100%;
}
input::selection,
textarea::selection,
input *::selection,
textarea *::selection {
  background: rgba(22, 104, 185, 0.25);
}
@keyframes laptopAppearNarrow {
  from {
    opacity: 0;
    transform: translateX(-100%) translateY(0);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}
@keyframes mobileAppearNarrow {
  from {
    opacity: 0;
    transform: translateX(25%) translateY(65%);
  }
  to {
    opacity: 1;
    transform: translateX(25%) translateY(45%);
  }
}
@keyframes laptopAppearWide {
  from {
    opacity: 0;
    transform: translateX(-100%) translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0) translateY(-50%);
  }
}
@keyframes mobileAppearWide {
  from {
    opacity: 0;
    transform: translateX(220%) translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateX(220%) translateY(-30%);
  }
}
section.app-intro {
  align-items: center;
  box-sizing: border-box;
  display: block;
  justify-content: center;
  min-height: 100vh;
  padding: 0;
}
@media (min-width: 900px) {
  section.app-intro {
    display: flex;
    padding: 2em;
  }
}
@media (min-width: 1100px) and (min-height: 750px) {
  section.app-intro {
    padding: 4em;
  }
}
section.app-intro > div {
  box-sizing: border-box;
  max-width: 600px;
  margin: 2em auto;
  position: relative;
}
@media (min-width: 900px) {
  section.app-intro > div {
    margin: 2em;
    width: 50%;
  }
}
section.app-intro > div.content {
  animation-delay: 0.75s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: contentAppear;
  padding: 2em;
  opacity: 0;
  text-align: left;
}
@media (min-width: 900px) {
  section.app-intro > div.content {
    padding: 0;
  }
}
section.app-intro > div.images {
  height: 25vh;
}
@media (min-width: 900px) {
  section.app-intro > div.images {
    height: auto;
  }
}
section.app-intro > div.images img {
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  left: 50%;
  max-width: 100%;
  position: absolute;
  top: 0;
}
@media (min-width: 900px) {
  section.app-intro > div.images img {
    left: 0;
  }
}
section.app-intro > div p {
  font-size: 18px;
}
@media (min-width: 900px) {
  section.app-intro > div p {
    font-size: 22px;
  }
}
section.app-intro > div > a,
section.app-intro > div button {
  font-family: "Avenir Light", Avenir-Light, "Raleway", sans-serif;
  font-weight: 100;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2em;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 1em 4em 1em 4em;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: color 0.25s, border 0.25s, transform 0.25s, background 0.25s;
  width: calc(100% - 64px);
  border-color: #0149ff;
  color: #0149ff;
  margin-top: 3em;
  width: 100%;
}
section.app-intro > div > a:focus,
section.app-intro > div button:focus {
  outline: none;
  border-color: #0149ff;
  color: #0149ff !important;
  transform: scale(1.05);
}
@media (min-width: 40em) {
  section.app-intro > div > a,
  section.app-intro > div button {
    font-size: 1em;
    width: auto;
  }
}
@media (hover: hover) {
  section.app-intro > div > a:hover,
  section.app-intro > div button:hover {
    border-color: #0149ff;
    color: #0149ff !important;
    transform: scale(1.05);
  }
}
@media (min-width: 900px) {
  section.app-intro > div > a,
  section.app-intro > div button {
    width: auto;
  }
}
section.app-intro img.laptop-preview {
  height: 100%;
  opacity: 0;
  transform: translateX(-100%) translateY(0);
  z-index: 10;
}
@media (min-width: 900px) {
  section.app-intro img.laptop-preview {
    height: auto;
    transform: translateX(-100%) translateY(-50%);
  }
}
section.app-intro img.mobile-preview {
  animation-delay: 0.75s;
  height: 75%;
  opacity: 0;
  transform: translateX(25%) translateY(65%);
  z-index: 11;
}
@media (min-width: 900px) {
  section.app-intro img.mobile-preview {
    height: auto;
    transform: translateX(220%) translateY(-20%);
    width: 25%;
  }
}
section.app-intro.show-images img.laptop-preview {
  animation-name: laptopAppearNarrow;
}
@media (min-width: 900px) {
  section.app-intro.show-images img.laptop-preview {
    animation-name: laptopAppearWide;
  }
}
section.app-intro.show-images img.mobile-preview {
  animation-name: mobileAppearNarrow;
}
@media (min-width: 900px) {
  section.app-intro.show-images img.mobile-preview {
    animation-name: mobileAppearWide;
  }
}
nav.app {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: fadeIn;
  background: white;
  border-bottom: 1px solid #E8E8E8;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}
nav.app.hidden {
  display: none;
}
nav.app a,
nav.app span {
  display: inline-block;
  padding: 1em;
}
nav.app > a {
  position: relative;
  font-family: "Libre Baskerville", serif;
  outline: none;
}
nav.app > a:before {
  background-color: rgba(1, 73, 255, 0.75);
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.25s ease-in-out;
}
nav.app > a:focus {
  color: #0149ff;
  outline: none;
}
nav.app > a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}
@media (hover: hover) {
  nav.app > a:active,
  nav.app > a:focus,
  nav.app > a:hover {
    color: #0149ff;
    outline: none;
  }
  nav.app > a:active:before,
  nav.app > a:focus:before,
  nav.app > a:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}
nav.app div {
  margin-left: auto;
}
nav.app div a,
nav.app div span {
  font-family: "Avenir Medium", Avenir-Medium, "Raleway", sans-serif;
  font-weight: 500;
  color: #0149ff;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  font-family: "Avenir Light", Avenir-Light, "Raleway", sans-serif;
  font-weight: 100;
  color: black;
}
nav.app div a:before,
nav.app div span:before {
  background-color: rgba(1, 73, 255, 0.75);
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.25s ease-in-out;
}
@media (hover: hover) {
  nav.app div a:active,
  nav.app div span:active,
  nav.app div a:focus,
  nav.app div span:focus,
  nav.app div a:hover,
  nav.app div span:hover {
    color: #0149ff;
    outline: none;
  }
  nav.app div a:active:before,
  nav.app div span:active:before,
  nav.app div a:focus:before,
  nav.app div span:focus:before,
  nav.app div a:hover:before,
  nav.app div span:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}
nav.app div a:hover,
nav.app div span:hover {
  color: #0149ff;
}
@media (max-width: 900px) {
  nav.app div a:not(:last-child),
  nav.app div span:not(:last-child) {
    margin-right: 1em;
  }
}
nav.app ~ section {
  margin-top: 55px;
}
nav.app ~ section.hero {
  min-height: calc(100vh - 55px);
}
@keyframes blockstackIdAppearNarrow {
  from {
    opacity: 0;
    transform: translateX(-65%) translateY(-25%);
  }
  to {
    opacity: 1;
    transform: translateX(-65%) translateY(0);
  }
}
@keyframes blockstackNameAppearNarrow {
  from {
    opacity: 0;
    transform: translateX(-30%) translateY(80%);
  }
  to {
    opacity: 1;
    transform: translateX(-30%) translateY(60%);
  }
}
@keyframes blockstackIdAppearWide {
  from {
    opacity: 0;
    transform: translateX(0) translateY(-70%);
  }
  to {
    opacity: 1;
    transform: translateX(0) translateY(-60%);
  }
}
@keyframes blockstackNameAppearWide {
  from {
    opacity: 0;
    transform: translateX(30%) translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateX(30%) translateY(-30%);
  }
}
section.blockstack-intro {
  align-items: center;
  box-sizing: border-box;
  display: block;
  justify-content: center;
  min-height: 100vh;
  padding: 0;
}
@media (min-width: 900px) {
  section.blockstack-intro {
    display: flex;
    padding: 2em;
  }
}
@media (min-width: 1100px) and (min-height: 750px) {
  section.blockstack-intro {
    padding: 4em;
  }
}
section.blockstack-intro > div {
  box-sizing: border-box;
  max-width: 600px;
  margin: 2em auto;
  position: relative;
}
@media (min-width: 900px) {
  section.blockstack-intro > div {
    margin: 2em;
    width: 50%;
  }
}
section.blockstack-intro > div.content {
  animation-delay: 0.75s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: contentAppear;
  padding: 2em;
  opacity: 0;
  text-align: left;
}
@media (min-width: 900px) {
  section.blockstack-intro > div.content {
    padding: 0;
  }
}
section.blockstack-intro > div.images {
  height: 25vh;
}
@media (min-width: 900px) {
  section.blockstack-intro > div.images {
    height: auto;
  }
}
section.blockstack-intro > div.images img {
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  left: 50%;
  max-width: 100%;
  position: absolute;
  top: 0;
}
@media (min-width: 900px) {
  section.blockstack-intro > div.images img {
    left: 0;
  }
}
section.blockstack-intro > div p {
  font-size: 18px;
}
@media (min-width: 900px) {
  section.blockstack-intro > div p {
    font-size: 22px;
  }
}
section.blockstack-intro > div > a,
section.blockstack-intro > div button {
  font-family: "Avenir Light", Avenir-Light, "Raleway", sans-serif;
  font-weight: 100;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2em;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 1em 4em 1em 4em;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: color 0.25s, border 0.25s, transform 0.25s, background 0.25s;
  width: calc(100% - 64px);
  border-color: #0149ff;
  color: #0149ff;
  margin-top: 3em;
  width: 100%;
}
section.blockstack-intro > div > a:focus,
section.blockstack-intro > div button:focus {
  outline: none;
  border-color: #0149ff;
  color: #0149ff !important;
  transform: scale(1.05);
}
@media (min-width: 40em) {
  section.blockstack-intro > div > a,
  section.blockstack-intro > div button {
    font-size: 1em;
    width: auto;
  }
}
@media (hover: hover) {
  section.blockstack-intro > div > a:hover,
  section.blockstack-intro > div button:hover {
    border-color: #0149ff;
    color: #0149ff !important;
    transform: scale(1.05);
  }
}
@media (min-width: 900px) {
  section.blockstack-intro > div > a,
  section.blockstack-intro > div button {
    width: auto;
  }
}
section.blockstack-intro div.content {
  order: 1;
}
section.blockstack-intro div.images {
  order: 2;
}
section.blockstack-intro div.images img.create-blockstack-id {
  height: 100%;
  opacity: 0;
  transform: translateX(-65%) translateY(-25%);
  z-index: 10;
}
@media (min-width: 900px) {
  section.blockstack-intro div.images img.create-blockstack-id {
    height: auto;
    transform: translateX(0) translateY(-70%);
    max-width: 450px;
  }
}
section.blockstack-intro div.images img.create-blockstack-name {
  animation-delay: 0.75s;
  height: 70%;
  opacity: 0;
  transform: translateX(-30%) translateY(80%);
  z-index: 11;
}
@media (min-width: 900px) {
  section.blockstack-intro div.images img.create-blockstack-name {
    height: auto;
    transform: translateX(30%) translateY(-20%);
    max-width: 371px;
  }
}
section.blockstack-intro.show-images img.create-blockstack-id {
  animation-name: blockstackIdAppearNarrow;
}
@media (min-width: 900px) {
  section.blockstack-intro.show-images img.create-blockstack-id {
    animation-name: blockstackIdAppearWide;
  }
}
section.blockstack-intro.show-images img.create-blockstack-name {
  animation-name: blockstackNameAppearNarrow;
}
@media (min-width: 900px) {
  section.blockstack-intro.show-images img.create-blockstack-name {
    animation-name: blockstackNameAppearWide;
  }
}
section.cover {
  align-items: center;
  box-sizing: border-box;
  display: block;
  justify-content: center;
  min-height: 100vh;
  padding: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: fadeIn;
  opacity: 0;
  display: flex;
}
@media (min-width: 900px) {
  section.cover {
    display: flex;
    padding: 2em;
  }
}
@media (min-width: 1100px) and (min-height: 750px) {
  section.cover {
    padding: 4em;
  }
}
section.cover > div {
  box-sizing: border-box;
  max-width: 600px;
  margin: 2em auto;
  position: relative;
}
@media (min-width: 900px) {
  section.cover > div {
    margin: 2em;
    width: 50%;
  }
}
section.cover > div.content {
  animation-delay: 0.75s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: contentAppear;
  padding: 2em;
  opacity: 0;
  text-align: left;
}
@media (min-width: 900px) {
  section.cover > div.content {
    padding: 0;
  }
}
section.cover > div.images {
  height: 25vh;
}
@media (min-width: 900px) {
  section.cover > div.images {
    height: auto;
  }
}
section.cover > div.images img {
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  left: 50%;
  max-width: 100%;
  position: absolute;
  top: 0;
}
@media (min-width: 900px) {
  section.cover > div.images img {
    left: 0;
  }
}
section.cover > div p {
  font-size: 18px;
}
@media (min-width: 900px) {
  section.cover > div p {
    font-size: 22px;
  }
}
section.cover > div > a,
section.cover > div button {
  font-family: "Avenir Light", Avenir-Light, "Raleway", sans-serif;
  font-weight: 100;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2em;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 1em 4em 1em 4em;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: color 0.25s, border 0.25s, transform 0.25s, background 0.25s;
  width: calc(100% - 64px);
  border-color: #0149ff;
  color: #0149ff;
  margin-top: 3em;
  width: 100%;
}
section.cover > div > a:focus,
section.cover > div button:focus {
  outline: none;
  border-color: #0149ff;
  color: #0149ff !important;
  transform: scale(1.05);
}
@media (min-width: 40em) {
  section.cover > div > a,
  section.cover > div button {
    font-size: 1em;
    width: auto;
  }
}
@media (hover: hover) {
  section.cover > div > a:hover,
  section.cover > div button:hover {
    border-color: #0149ff;
    color: #0149ff !important;
    transform: scale(1.05);
  }
}
@media (min-width: 900px) {
  section.cover > div > a,
  section.cover > div button {
    width: auto;
  }
}
section.cover > div {
  width: 100%;
}
section.cover h1 {
  cursor: text;
  user-select: text;
  box-sizing: border-box;
  font-family: "Libre Baskerville", serif;
  font-size: 1.6em;
  font-weight: normal;
  line-height: 1.5em;
  margin: auto;
  margin-bottom: 1em;
  padding: 0;
  margin: 0 32px;
}
section.cover h1::selection,
section.cover h1 *::selection {
  background: rgba(22, 104, 185, 0.25);
}
@media (min-width: 900px) {
  section.cover h1 {
    font-size: 2em;
  }
}
section.cover div.subheader {
  color: rgba(0, 0, 0, 0.8);
  font-size: 24px;
  line-height: 1.5em;
  margin-top: 24px;
  margin: 32px;
}
@media (max-width: 65em) {
  section.cover div.subheader {
    font-size: 20px;
    margin: 16px 32px;
    margin-bottom: 0;
  }
}
section.cover h1,
section.cover div.subheader {
  cursor: text;
  user-select: text;
  outline: none;
}
section.cover h1::selection,
section.cover div.subheader::selection,
section.cover h1 *::selection,
section.cover div.subheader *::selection {
  background: rgba(22, 104, 185, 0.25);
}
section.cover h1[contenteditable=true]:empty:before,
section.cover div.subheader[contenteditable=true]:empty:before {
  color: rgba(0, 0, 0, 0.5);
  content: attr(placeholder);
  display: block;
}
section.cover img {
  display: none;
  max-height: 850px;
  margin: auto;
  margin-top: -1px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 100%;
  z-index: 1;
}
@media (max-width: 65em) {
  section.cover img {
    margin-top: 48px;
  }
}
@media (min-width: 1600px) {
  section.cover img {
    height: 850px;
    width: 1400px;
  }
}
section.cover.hasImage img {
  display: block;
}
@media (max-width: 69.9em) {
  section.cover.hasNoImage img {
    display: block;
  }
}
section.cover nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  margin-top: 56px;
  overflow: hidden;
}
@media (max-width: 65em) {
  section.cover nav {
    display: none;
  }
}
section.cover nav a {
  font-family: "Avenir Medium", Avenir-Medium, "Raleway", sans-serif;
  font-weight: 500;
  color: #0149ff;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  font-family: "Avenir Light", Avenir-Light, "Raleway", sans-serif;
  font-weight: 100;
  color: black;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 32px;
  text-transform: uppercase;
  transition: color 0.25s, transform 0.25s;
}
section.cover nav a:before {
  background-color: rgba(1, 73, 255, 0.75);
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.25s ease-in-out;
}
@media (hover: hover) {
  section.cover nav a:active,
  section.cover nav a:focus,
  section.cover nav a:hover {
    color: #0149ff;
    outline: none;
  }
  section.cover nav a:active:before,
  section.cover nav a:focus:before,
  section.cover nav a:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}
section.customize-url-section {
  margin: auto;
  max-width: 50em;
  padding: 1em;
  text-align: left;
}
@media (min-width: 900px) {
  section.customize-url-section {
    padding: 4em;
  }
}
section.customize-url-section p {
  font-size: 1em;
}
section.customize-url-section a {
  font-family: "Avenir Medium", Avenir-Medium, "Raleway", sans-serif;
  font-weight: 500;
  color: #0149ff;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}
section.customize-url-section a:before {
  background-color: rgba(1, 73, 255, 0.75);
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.25s ease-in-out;
}
@media (hover: hover) {
  section.customize-url-section a:active,
  section.customize-url-section a:focus,
  section.customize-url-section a:hover {
    color: #0149ff;
    outline: none;
  }
  section.customize-url-section a:active:before,
  section.customize-url-section a:focus:before,
  section.customize-url-section a:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}
section.customize-url-section code {
  background: rgba(0, 0, 0, 0.03);
  border-radius: 0.25em;
  padding: 0.25em;
}
section.customize-url-section div.table {
  overflow-x: auto;
}
section.customize-url-section table {
  cursor: text;
  user-select: text;
  background: rgba(0, 0, 0, 0.1);
  border-spacing: 1px;
  margin: 32px 0 16px 0;
  overflow-x: auto;
  width: 100%;
}
section.customize-url-section table::selection,
section.customize-url-section table *::selection {
  background: rgba(22, 104, 185, 0.25);
}
section.customize-url-section table th,
section.customize-url-section table td {
  background: white;
  padding: 0.5em 1em;
}
section.customize-url-section ul {
  margin: 2em;
  margin-right: 4em;
}
section.customize-url-section ul li {
  cursor: text;
  user-select: text;
  font-family: "Avenir Light", Avenir-Light, "Raleway", sans-serif;
  font-weight: 100;
  font-size: 1em;
  letter-spacing: 0.5px;
  line-height: 1.5em;
  margin: 0;
  margin-top: 1em;
  list-style: square;
  margin-top: 2em;
  overflow-wrap: break-word;
}
section.customize-url-section ul li::selection,
section.customize-url-section ul li *::selection {
  background: rgba(22, 104, 185, 0.25);
}
section.customize-url-section ul li:last-of-type {
  margin-bottom: 0;
}
@keyframes tooltipAppear {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes tooltipDisappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
div.edit-profile-welcome {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: tooltipAppear;
  background: white;
  box-shadow: 0 24px 40px 0 #F2F2F2;
  box-sizing: border-box;
  left: 0em;
  padding: 3em;
  position: fixed;
  text-align: left;
  top: 4em;
  max-width: 26em;
  z-index: 100;
}
@media (min-width: 900px) {
  div.edit-profile-welcome {
    left: 4em;
    padding: 4em;
    top: 8em;
  }
}
div.edit-profile-welcome.hidden {
  visibility: hidden;
}
div.edit-profile-welcome h2 {
  font-family: "Avenir Medium", Avenir-Medium, "Raleway", sans-serif;
  font-weight: 500;
  margin: 0;
  margin-bottom: 1em;
}
div.edit-profile-welcome p {
  font-size: 1em;
}
div.edit-profile-welcome button {
  font-family: "Avenir Light", Avenir-Light, "Raleway", sans-serif;
  font-weight: 100;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2em;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 1em 4em 1em 4em;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: color 0.25s, border 0.25s, transform 0.25s, background 0.25s;
  width: calc(100% - 64px);
  border-color: #0149ff;
  color: #0149ff;
  margin-top: 2em;
  width: 100%;
}
div.edit-profile-welcome button:focus {
  outline: none;
  border-color: #0149ff;
  color: #0149ff !important;
  transform: scale(1.05);
}
@media (min-width: 40em) {
  div.edit-profile-welcome button {
    font-size: 1em;
    width: auto;
  }
}
@media (hover: hover) {
  div.edit-profile-welcome button:hover {
    border-color: #0149ff;
    color: #0149ff !important;
    transform: scale(1.05);
  }
}
@media (min-width: 40em) {
  div.edit-profile-welcome button {
    width: 100%;
  }
}
div.store-indicator {
  bottom: 1em;
  display: none;
  opacity: 0.5;
  position: fixed;
  right: 1em;
  z-index: 100;
}
div.store-indicator.hasContent {
  display: block;
}
/*# sourceMappingURL=/assets/humans.css.map */